<nb-card>

  <nb-card-header>
    Fusion Peptides' Structures
    <p></p>
  </nb-card-header>

  <nb-card-body>

    <label class="search-label" for="search">Search: </label>
    <input NbInput (keyup.enter)="searchTableResult()" type="text" [formControl]="search_form" id="search"
           class="search-input">
    <p></p>
    <button nbButton (click)="searchTableResult()">SEARCH</button>
    <p></p>
    <!--
    <button nbButton (click)="saveDataFile()">SAVE DATA IN FILE</button>
  -->
    <a [href]="fileUrl" download="data_peptides_structures_results.csv">Download Results</a>

    <p></p>
    <button nbButton (click)="goToUrl(null, true)">MANAGE DATA</button>

    <table [nbTreeGrid]="dataSource"
           [nbSort]="dataSource"
           (sort)="updateSort($event)"
           [equalColumnsWidth]="true">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!--<ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>-->
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || ''}}</td>
        <!-- It was removed '-' -->
      </ng-container>

    </table>

  </nb-card-body>

  <nb-card-footer>

    <div class="buttons">
      Page:
      <button nbButton *ngIf="current_page!=1" (click)="fetchFirst()">1</button>
      <button nbButton *ngIf="current_page-1>1" (click)="fetchPrevious()">{{current_page - 1}}</button>
      <button [disabled]="true">{{current_page}}</button>
      <button nbButton *ngIf="current_page+1<this.n_pags" (click)="fetchNext()">{{current_page + 1}}</button>
      <button nbButton *ngIf="current_page!=this.n_pags" (click)="fetchLast()">{{this.n_pags}}</button>
    </div>


  </nb-card-footer>


</nb-card>

<nb-card>
  <nb-card-header>
    Peptide's Structure
    <p *ngIf="add_form_ps">Add Entry</p>
    <p *ngIf="put_form_ps">Update Entry</p>
  </nb-card-header>

  <nb-card-body>

    <button nbButton (click)="addDataForm_ps()">ADD ENTRY</button>
    <p></p>
    <button nbButton (click)="putDataForm_ps()">UPDATE ENTRY</button>
    <p></p>

    <form [formGroup]="addPeptStruct" (ngSubmit)="onSubmitPS()" *ngIf="add_form_ps" novalidate>
      <p>
        <label for="idpeptide">ID Fusion Peptide </label>
        <input nbInput type="text" id="idpeptide" name="idpeptide" formControlName="idpeptide">
      </p>
      <p>
        <label for="idstructure">ID Structure </label>
        <input nbInput type="text" id="idstructure" name="idstructure" formControlName="idstructure">
      </p>

      <button nbButton>Submit</button>

    </form>

    <form [formGroup]="putPeptStruct" (ngSubmit)="onSubmitPS(true)" *ngIf="put_form_ps" novalidate>
      <p>
        <label for="idpeptide">ID Fusion Peptide </label>
        <input nbInput type="text" id="idpeptide_put" name="idpeptide" formControlName="idpeptide">
      </p>
      <p>
        <label for="idstructure">ID Structure </label>
        <input nbInput type="text" id="idstructure_put" name="idstructure" formControlName="idstructure">
      </p>

      <button nbButton>Submit</button>

    </form>

  </nb-card-body>

</nb-card>


<nb-card>
  <nb-card-header>
    Structure
    <p *ngIf="add_form_struct">Add Entry</p>
    <p *ngIf="put_form_struct">Update Entry</p>
  </nb-card-header>

  <nb-card-body>

    <button nbButton (click)="addDataForm_struct()">ADD ENTRY</button>
    <p></p>
    <button nbButton (click)="putDataForm_struct()">UPDATE ENTRY</button>
    <p></p>

    <form [formGroup]="addStruct" (ngSubmit)="onSubmitStruct()" *ngIf="add_form_struct" novalidate>
      <p>
        <label for="exp_method">Experimental Evidence </label>
        <input nbInput type="text" id="exp_method" name="exp_method" formControlName="exp_method">
      </p>
      <p>
        <label for="repository">Repository </label>
        <input nbInput type="text" id="repository" name="repository" formControlName="repository">
      </p>
      <p>
        <label for="id_repository">ID Repository </label>
        <input nbInput type="text" id="id_repository" name="id_repository" formControlName="id_repository">
      </p>
      <p>
        <label for="reference">ID Reference </label>
        <input nbInput type="text" id="reference" name="reference" formControlName="reference">
      </p>

      <button nbButton>Submit</button>

    </form>

    <form [formGroup]="putStruct" (ngSubmit)="onSubmitStruct(true)" *ngIf="put_form_struct" novalidate>
      <p>
        <label for="exp_method">ID </label>
        <input nbInput type="text" id="idstructure_submit_put" name="idstructure" formControlName="idstructure">
      </p>
      <p>
        <label for="exp_method">Experimental Evidence </label>
        <input nbInput type="text" id="exp_method_put" name="exp_method" formControlName="exp_method">
      </p>
      <p>
        <label for="repository">Repository </label>
        <input nbInput type="text" id="repository_put" name="repository" formControlName="repository">
      </p>
      <p>
        <label for="id_repository">ID Repository </label>
        <input nbInput type="text" id="id_repository_put" name="id_repository" formControlName="id_repository">
      </p>
      <p>
        <label for="reference">ID Reference </label>
        <input nbInput type="text" id="reference_put" name="reference" formControlName="reference">
      </p>

      <button nbButton>Submit</button>

    </form>

  </nb-card-body>

</nb-card>
