<nb-card>
  <nb-card-header>Viral Fusion Peptides WebServer</nb-card-header>
  <nb-card-body>
<p>
  Welcome to the Viral Fusion Peptides WebServer, developed by a joint effort of Universidade do Minho and ITQB NOVA.
  This is a centralized datasource will contain data form viral fusion peptides.
  This data contains the sequence, structure, key annotations and databases' entries (and references) for each fusion protein.
  This databases contains the protein's fusion peptide (when known), referring its position, sequence and structure.
  Finally it also contains the taxonomy data of each protein's enveloped virus (a group that contains HIV, Dengue, Influenza and SARS).
  The gathered data is mostly originally from sources such as UniProt, NCBI and PDB.
</p>
  </nb-card-body>
</nb-card>
