<nb-card>

  <nb-card-header>
    Viruses' Taxonomy
    <p></p>
  </nb-card-header>

  <nb-card-body>

    <label class="search-label" for="search">Search: </label>
    <input nbInput (keyup.enter)="searchTableResult()" type="text" [formControl]="search_form" id="search"
           class="search-input">
    <p></p>

    <button nbButton (click)="searchTableResult()">SEARCH</button>
    <p></p>


    <!--
    <button nbButton (click)="saveDataFile()">SAVE DATA IN FILE</button>
    -->

    <a [href]="fileUrl" download="data_virus_taxonomy_results.csv">Download Results</a>

    <p></p>

    <button nbButton (click)="goToUrl(null, true)">MANAGE DATA</button>


    <table [nbTreeGrid]="dataSource"
           [nbSort]="dataSource"
           (sort)="updateSort($event)"
           [equalColumnsWidth]="true">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">

        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef nbSortHeader>
          {{customColumn}}
          <span *nbSortHeaderIcon="let asc = isAscending; let desc = isDescending">
                <span *ngIf="asc" class="nb-chevron-down" aria-label="sorted ascending"></span>
                <span *ngIf="desc" class="nb-chevron-up" aria-label="sorted descending"></span>
              </span>
        </th>

        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <button nbTreeGridRowToggle
                  *ngIf="row.hasChildren()"
                  [attr.aria-label]="row.expanded ? 'collapse' : 'expand'">
                <span [ngClass]="{'nb-chevron-down': row.expanded, 'nb-chevron-right': !row.expanded}"
                      aria-hidden="true">
                </span>
          </button>

          {{row.data[customColumn]}}
          <p *ngIf="!verifyNull(row.data['actions'])">
            <button nbButton (click)="goToUrl(row.data['actions'])">{{row.data['page']}}</button>
          </p>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || ''}}</td>
        <!-- It was removed '-' -->
      </ng-container>

    </table>

  </nb-card-body>

  <nb-card-footer>

    <div class="buttons">
      Page:
      <button nbButton *ngIf="current_page!=1" (click)="fetchFirst()">1</button>
      <button nbButton *ngIf="current_page-1>1" (click)="fetchPrevious()">{{current_page - 1}}</button>
      <button [disabled]="true">{{current_page}}</button>
      <button nbButton *ngIf="current_page+1<this.n_pags" (click)="fetchNext()">{{current_page + 1}}</button>
      <button nbButton *ngIf="current_page!=this.n_pags" (click)="fetchLast()">{{this.n_pags}}</button>
    </div>


  </nb-card-footer>

</nb-card>

<nb-card>

  <nb-card-header>
    <p *ngIf="add_form">Add Entry</p>
    <p *ngIf="put_form">Update Entry</p>
  </nb-card-header>

  <nb-card-body>

    <button nbButton (click)="addDataForm()">ADD ENTRY</button>
    <p></p>
    <button nbButton (click)="putDataForm()">UPDATE ENTRY</button>
    <p></p>


    <form [formGroup]="addVirusForm" (ngSubmit)="onSubmit()" *ngIf="add_form" novalidate>
      <!--
        <p>
          <label for="idtaxonomy">ID Taxonomy </label>
          <input nbInput type="text" id="idtaxonomy" name="idtaxonomy" formControlName="idtaxonomy">
        </p>
      -->
      <p>
        <label for="commonname">Common Name </label>
        <input nbInput type="text" id="commonname" name="commonname" formControlName="commonname">
      </p>

      <p>
        <label for="family">Family </label>
        <input nbInput type="text" id="family" name="family" formControlName="family">
      </p>

      <p>
        <label for="genre">Genus </label>
        <input nbInput type="text" id="genre" name="genre" formControlName="genre">
      </p>

      <p>
        <label for="species">Species </label>
        <input nbInput type="text" id="species" name="species" formControlName="species">
      </p>

      <p>
        <label for="subspecies">Subspecies / Strain </label>
        <input nbInput type="text" id="subspecies" name="subspecies" formControlName="subspecies">
      </p>

      <p>
        <label for="ncbitax">NCBI Taxonomy </label>
        <input nbInput type="text" id="ncbitax" name="ncbitax" formControlName="ncbitax">
      </p>


      <button nbButton>Submit</button>

    </form>


    <form [formGroup]="putVirusForm" (ngSubmit)="onSubmit(true)" *ngIf="put_form" novalidate>

      <p>
        <label for="idtaxonomy_put">ID Taxonomy </label>
        <input nbInput type="text" id="idtaxonomy_put" name="idtaxonomy" formControlName="idtaxonomy">
      </p>

      <p>
        <label for="commonname">Common Name </label>
        <input nbInput type="text" id="commonname_put" name="commonname" formControlName="commonname">
      </p>

      <p>
        <label for="family">Family </label>
        <input nbInput type="text" id="family_put" name="family" formControlName="family">
      </p>

      <p>
        <label for="genre">Genus </label>
        <input nbInput type="text" id="genre_put" name="genre" formControlName="genre">
      </p>

      <p>
        <label for="species">Species </label>
        <input nbInput type="text" id="species_put" name="species" formControlName="species">
      </p>

      <p>
        <label for="subspecies">Subspecies / Strain </label>
        <input nbInput type="text" id="subspecies_put" name="subspecies" formControlName="subspecies">
      </p>

      <p>
        <label for="ncbitax">NCBI Taxonomy </label>
        <input nbInput type="text" id="ncbitax_put" name="ncbitax" formControlName="ncbitax">
      </p>


      <button nbButton>Submit</button>

    </form>

  </nb-card-body>

</nb-card>
